/* 메인 */
@import "nav.css";
@import "contact.css";
@import "side.css";
@import "reset.css";
@import "menu.css";
@import "footer.css";

@font-face {
  font-family: "kakao.otf";
  src: url("../font/kakao.otf") format("truetype");
}
* {
  font-family: "kakao.otf", sans-serif;

  /* 
  글자를 정말 매우 살짝 회전시키면 
  transform: rotate(0.04deg);
  윈도우에선 안티앨리어싱 된 듯한 느낌주기
  */
}
:root {
  --white: #f5fffa;
  --yellow: #fdf136;
  --black: #666;
  --red: #dc000b;
}
body {
}
/* ::-webkit-scrollbar {
  display: none;
} */
.main-background {
  width: 100%;
  height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../img/lego.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: var(--white);
  font-size: 50px;
  letter-spacing: -1.3px;
  position: absolute;
  margin-top: 50px;
}
.main-title {
  margin-top: 105px;
}

.title {
  color: var(--red);
}
.main-content {
  font-size: 20px;
}
.main-content > span {
  color: tomato;
}
.main-button {
  letter-spacing: -0.5px;
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  background: var(--white);
  opacity: 0.7;
  color: var(--black);
  transition: all 0.3s;
}
.main-button:hover {
  cursor: pointer;
  opacity: 1;
  font-weight: 700;
  background: var(--yellow);
  color: var(--red);
}

/* intro */
.intro {
  position: absolute;
  background: url(../img/intro_lego.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  animation: hideSplashScreen 1.5s ease-in-out forwards;
  /* forwards 마지막의 keyframes를 기억해라 */
  width: 100%;
  height: 1500px;
  z-index: 1000;
  overflow: hidden;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.line {
  color: black;
  margin-top: 90px;
  font-size: 1.5rem;
}
.title {
  font-size: 51px;
}
.lego-show {
  color: var(--black);
}
